{
    "plugins": [ "@shufo/prettier-plugin-blade" ],
    "wrapAttributes": "force-expand-multiline",
    "wrapAttributesMinAttrs": 3,
    "sortHtmlAttributes": "code-guide",
    "overrides": [
        {
            "files": [ "*.blade.php" ],
            "options": {
                "parser": "blade",
                "tabWidth": 4
            }
        }
    ]
}
